body {
    background-image: url('spacevisyt.github.io/space.avif');
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: #a1e0ff;
    text-align: center;
} 
h1 {
    color: #333;
    font-size: 75px;
}
